{% extends 'staff_template/base_template.html'%}
{% block page_title %}
Leave Report and apply for leave
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content" xmlns="http://www.w3.org/1999/html">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">

            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Apply  for Leave</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                 <form method="POST" action="{% url 'staff_apply_leave_save' %}">
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group">
                                <label>Leave Date </label>
                                <input type="date" name="leave_date" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Leave Reason </label>
                                <textarea name="leave_msg" class="form-control" rows="6" placeholder="Leave Message"></textarea>
                            </div>

                            <div class="form-group">
                                {% if messages %}
                                   {% for message in messages %}
                                   {% if message.tags == 'error' %}
                                   <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                   {% endif %}
                                   {% if message.tags == 'success' %}
                                   <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                   {% endif %}
                                   {% endfor %}
                                   {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Apply for Leave</button>
                        </div>
                 </form>




              <div class="row">
                <div class="col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Leave Apply History</h3>
                        </div>

                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Leave Date</th>
                                        <th>Leave Message</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>

                                    {% for leave in leave_data %}
                                    <tr>
                                        <td>{{ leave.id }}</td>
                                        <td>{{ leave.leave_date }}</td>
                                        <td>{{ leave.leave_message }}</td>
                                        <td>
                                            {% if leave.leave_status == 1 %}
                                                <span class="alert alert-success">Approved</span>
                                            {% elif leave.leave_status == 2 %}
                                                <span class="alert alert-danger">Rejected</span>
                                            {% else %}
                                                <span class="alert alert-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>



      </div>

    </section>

    <!-- /.content -->
{% endblock main_content %}

